PaymentBookingProcess/SOA/WSDLs/CheckPaymentRequestValid.wsdl

<wsdl:definitions
     name="CheckPaymentRequestValid"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/PaymentEnablement_SOA/PaymentBookingProcess/CheckPaymentRequestValid"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/PaymentEnablement_SOA/PaymentBookingProcess/CheckPaymentRequestValid"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CheckPaymentRequestValid"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="CheckPaymentRequestValid_plt" >
    <plt:role name="CheckPaymentRequestValid_role" >
      <plt:portType name="tns:CheckPaymentRequestValid_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CheckPaymentRequestValid" schemaLocation="../Schemas/CheckPaymentRequestValid_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:PaymentReqTransPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="PaymentReqTransCollection_msg">
        <wsdl:part name="PaymentReqTransCollection" element="top:PaymentReqTransCollection"/>
    </wsdl:message>
    <wsdl:portType name="CheckPaymentRequestValid_ptt">
        <wsdl:operation name="update">
            <wsdl:input message="tns:PaymentReqTransCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:PaymentReqTransCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
